* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* top */

.header_container {
    position: relative;
    width: 100%;
    z-index: 95;
    height: 8vh;
    background-color: #EF3D32;
}

.contact {
    margin-right: 20px;
    color: #fff;
    z-index: 99;
}

.address {
    z-index: 99;
    font-size: 0.9rem;
    display: flex;
    position: absolute;
    left: 10%;
    ;
    padding: 10px;
    margin: 3px;
}

.address p {
    margin-left: 5px;
    margin-top: 2px;
}

.call {
    font-size: 0.9rem;
    display: flex;
    position: absolute;
    left: 35%;
    padding: 10px;
    margin: 3px;
}

.call p {
    margin-left: 5px;
    margin-top: 2px;
}

.icon {
    margin-top: 3px;
    margin-right: 10px;
}

.social_media {
    position: absolute;
    right: 10%;
    margin: 12px;
}

.social_media a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 1.3rem;
}

@media screen and (max-width:1000px) {
    .header_container {
        height: 13vh;
    }
    .address {
        font-size: 0.9rem;
        left: 15%;
        ;
    }
    .call {
        left: 20%;
        top: 30%;
    }
}

@media screen and (max-width:600px) {
    .header_container {
        height: 17vh;
    }
    .address {
        font-size: 0.9rem;
        left: 35%;
        ;
    }
    .call {
        left: 40%;
        top: 30%;
    }
    .social_media {
        top: 60%;
        left: 42%;
    }
}

@media screen and (max-width:420px) {
    .address {
        left: 15%;
        width: 80%;
    }
    .call {
        left: 28%;
        top: 30%;
    }
    .social_media {
        top: 60%;
        left: 28%;
    }
}


/* Navbar */

.navbar_container {
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    display: flex;
    position: sticky;
    z-index: 999;
    top: 0;
}

.logo {
    display: flex;
    margin: auto 65px;
    padding: 20px;
    z-index: 1;
}

.logo img {
    width: 10%;
    background-color: red;
    opacity: 0.9;
    background-blend-mode: color-burn;
    border-radius: 100%;
}

.logo h2 {
    margin: 0 5px;
}

.logo h2:nth-child(2) {
    background-image: linear-gradient(to bottom, #df5d5d 0%, #cc1928 50%, #580b0b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pages {
    display: flex;
    position: absolute;
    right: 3%;
    padding: 20px;
    z-index: 1;
}

li {
    list-style: none;
}

.links {
    text-decoration: none;
    color: #141414;
    padding: 0 20px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .pages {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #141414;
    }
    .pages.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 30vh;
        font-size: 1.4rem;
    }
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.4s ease-in-out;
        background: black;
        display: block;
        cursor: pointer;
    }
    .links {
        text-align: center;
        padding: 0.4rem;
        width: 100%;
        display: table;
        color: #fff;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        cursor: pointer;
        transition: translate(5%, 20%);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width:400px) {
    .logo {
        margin-left: 10px;
    }
}


/* section */

.section_container {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 80vh;
}

.section img {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-size: contain;
    opacity: 0.8;
}

.section img:hover {
    transform: scale(1.05);
    background-size: contain;
    transition: all 3s ease-in-out;
}

.text {
    position: absolute;
    top: 70%;
    left: 55px;
    z-index: 10;
    font-weight: bold;
    font-size: 2.8rem;
    background-image: linear-gradient(to bottom, #df5d5d 0%, #cc1928 50%, #580b0b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    z-index: 20;
    position: absolute;
    top: 75%;
    left: 300px;
    color: white;
    background-image: linear-gradient(275deg, #df5d5d 0%, #cc1928 50%, #580b0b 100%);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    margin-top: 40px;
}

.btn:hover {
    transform: scale(1.05);
    transition: all 0.8s eae-in-out;
}

@media screen and (max-width:800px) {
    .text {
        font-size: 2.5rem;
        top: 40%;
    }
    .btn {
        font-size: 0.9rem;
        top: 45%;
        left: 50%;
    }
}

@media screen and (max-width:570px) {
    .text {
        font-size: 2rem;
        top: 25%;
    }
    .btn {
        font-size: 0.7rem;
        top: 27%;
        left: 55%;
    }
}

@media screen and (max-width:470px) {
    .section_container {
        height: 50vh;
    }
    .text {
        font-size: 1.5rem;
        top: 25%;
        left: 5%;
    }
    .btn {
        font-size: 0.5rem;
        top: 27%;
        left: 55%;
    }
}


/* motives */

.motive_container {
    position: relative;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.motive {
    width: 40%;
    height: 60vh;
    background-image: linear-gradient(to bottom, rgb(231, 197, 197) 0%, rgb(231, 119, 119) 100%);
    box-shadow: 2px 2px 40px 3px #aaaaaa;
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 20;
}

.motive:hover,
.motive_img:hover {
    transform: scale(1.05);
    transition: all 0.8s ease-in-out;
}

.motive_img {
    height: auto;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 5%;
    z-index: 1;
}

.motive_img img {
    width: 100%;
    height: auto;
    z-index: 1;
    box-shadow: 2px 2px 40px 4px #aaaaaa;
}

@media screen and (max-width:800px) {
    .motive {
        width: 50%;
        height: 60vh;
    }
}

@media screen and (max-width:600px) {
    .motive_img {
        width: 50%;
    }
}

@media screen and (max-width:480px) {
    .motive {
        width: 50%;
        height: 40vh;
    }
    .motive_container {
        height: 70vh;
    }
}


/* about us */

.abt {
    height: 10vh;
    font-size: 1.8rem;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 13px;
    color: rgb(0, 0, 0);
}

.about_container {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

.aboutus {
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    width: 32%;
    background-color: rgba(207, 55, 28, 0.9);
    background-image: linear-gradient(to bottom, rgb(231, 119, 119) 0%, #e67c52 100%);
    background-blend-mode: lighten;
    margin: 5px 5px 20px;
    color: black;
    border-radius: 6px;
}

.aboutus img {
    width: 40%;
    margin: 5px auto;
    height: auto;
}

.aboutus:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.desc {
    padding: 2px 16px;
}

.desc h3 {
    font-weight: bold;
}

.desc h3,
.desc h4 {
    margin: 9px 0;
}

@media screen and (max-width:1000px) {
    .aboutus {
        width: 48%;
    }
}

@media screen and (max-width:500px) {
    .aboutus {
        width: 100%;
        height: 10vh;
    }
    .aboutus img {
        height: 20vh;
    }
}

@media screen and (max-width:620px) {
    .aboutus {
        width: 70%;
        height: 30vh;
    }
    .about_container {
        align-items: center;
        justify-content: center;
    }
}


/* footer */

.footer_container {
    height: 6vh;
    opacity: 0.8;
    width: 100%;
    background-color: rgb(31, 27, 27);
}

.footer small {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    padding-top: 4px;
    background-color: rgb(31, 27, 27);
}